#grand {
    width: 800px;
    height: 400px;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dad7d7;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}